# {{ ansible_managed }}

[sshd]
{% if fail2ban_jail_sshd_enabled %}
enabled  = {{ fail2ban_jail_sshd_enabled | string | lower }}
{% endif %}
{% if fail2ban_jail_sshd_filter %}
filter   = {{ fail2ban_jail_sshd_filter }}
{% endif %}
{% if ansible_os_family == "RedHat" %}

[selinux-ssh]
{% if fail2ban_jail_sshd_enabled %}
enabled  = {{ fail2ban_jail_selinux_ssh_enabled | string | lower }}
{% endif %}
{% endif %}
